@charset "utf-8";

* {
    box-sizing: border-box;
}

/*----------------------- 모바일용 CSS ----------------------*/
/* 기본 CSS */

#wrap {
    border: solid 1px #000;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

#wrap section {
    /*border: solid 1px #000;*/
}
