<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>gogo</title>
    <style>
        p{
            text-align: right;
            border: 1px solid blue;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum odio in libero congue, ut aliquet nunc elementum. Pellentesque lacinia sodales dignissim. Sed a felis non elit consectetur lacinia quis maximus nulla. Aenean ut accumsan nunc. Nullam rhoncus at orci eget luctus. Nullam vehicula maximus cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at nulla nec ligula iaculis fermentum. Aenean suscipit condimentum velit, nec mollis eros. Maecenas et convallis ex. Proin tempus sapien nec sagittis finibus. Pellentesque ultricies mauris nibh, efficitur efficitur risus vehicula in.

Aliquam sodales, urna tincidunt convallis tempor, mauris purus eleifend urna, sit amet lacinia nunc enim in felis. Morbi eget ornare nisl. Fusce dapibus, lacus eget commodo suscipit, est tellus facilisis lectus, a varius purus nibh vitae lacus. Donec sodales, tortor nec porta porttitor, mi erat gravida turpis, vitae rutrum nulla ipsum eget metus. Ut id nulla elit. Donec id libero quis ante sollicitudin vulputate ut vel augue. Etiam scelerisque enim vel elit finibus ultricies. Suspendisse molestie fringilla libero. Praesent suscipit ligula nulla, a maximus ex convallis quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

Quisque dolor diam, dignissim ut efficitur in, ultricies sed arcu. Vivamus gravida vehicula scelerisque. Vestibulum at euismod lectus. Duis imperdiet luctus velit, quis ultricies urna rhoncus ut. Morbi faucibus porttitor neque. Donec sed ipsum non nunc bibendum varius. Praesent congue, risus vel sagittis gravida, tortor ligula pharetra neque, et imperdiet magna nisi nec nisl. Morbi accumsan suscipit dictum. Maecenas in turpis et dui pulvinar congue. In sit amet urna sit amet neque rutrum scelerisque vel sit amet velit.

Nullam fermentum semper neque, eget feugiat diam aliquet eget. Nullam pulvinar augue orci, et laoreet nunc pretium mattis. Pellentesque id justo sit amet nulla vestibulum sollicitudin. Morbi vestibulum egestas diam, eu lacinia ex. Vestibulum rhoncus malesuada ultrices. In gravida sem a convallis tempor. Suspendisse consequat nulla eget lobortis aliquam. Nulla vulputate, quam eget fringilla hendrerit, purus ligula eleifend ipsum, in porta sem dolor a lacus. Sed sit amet leo pretium, porta libero a, fringilla ante. Morbi elit metus, hendrerit ut maximus ac, dapibus eget metus.</p>
</body>
</html>