<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>gogo</title>
    <style>
        p, a{
            border: 10px solid red;
            padding:20px;
            margin:40px;
{#            width: 50px;#}
{#            height:50px;#}
        }
    </style>
</head>
<body>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa ea, eum exercitationem expedita facilis ipsa iste iusto, mollitia nam nihil pariatur possimus quaerat quis quisquam, tempora tempore unde voluptates?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa ea, eum exercitationem expedita facilis ipsa iste iusto, mollitia nam nihil pariatur possimus quaerat quis quisquam, tempora tempore unde voluptates?
    </p>
    안녕하세요 <a href="a.a">생활코</a> 입니다
</body>
</html>