<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>gogo</title>
    <style>
        img{
            border: 1px solid red;
            width: 100px;
            float: right;
            margin: 20px;            
        }
        p{
            border: 1px solid gray;
        }
    </style>
</head>
<body>
    <img src="../static/images/logo.png" alt="">
    <p>Lorem ipsum dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro rerum sit molestiae impedit aliquam praesentium reprehenderit. Aspernatur autem necessitatibus, dolorem eos reiciendis dignissimos voluptatibus tenetur dolore consectetur itaque veniam culpa, unde, earum rnda, quas. Fugiat quibusdam, labore quis alias fugit minima eos voluptatem necessitatibus error, itaque ab assumenda accusantium, nobis autem. Animi sit, ex sequi expedita dolorum. Eaque itaque earum autem dolor quisquam unde reiciendis, hic asperiores eveniet suscipit repellat rerum eius iure quos est quidem minima in dicta porro recusandae dignissimos ut vitae nobis dolore. Quia eos nisi, harum quod cum quisquam dolor eveniet amet atque reiciendis impedit repellat nemo!</p>
    <p style="clear:both;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque corrupti dicta vel dolorum. Illum, tenetur beatae, vel deleniti dolorum temporibus eum, aliquid tempore veritatis, aperiam voluptate quam est provident molestias alias quibusdam? Nemo itaque assumenda et sint. Obcaecati voluptatem, aliquam quibusdam maiores nesciunt architecto unde aspernatur ipsum consectetur repellendus ut? Fugit ipsum voluptas odio minus excepturi, provident nemo minima voluptatibus pariatur suscipit animi quam officia perspiciatis doloribus quia ea dignissimos culpa, molestias distinctio laudantium repellat dolorem odit nostrum! Facere rerum laborum similique nemo sequi explicabo, libero veniam eaque officia, ab itaque dicta nihil esse hic molestiae delectus, dignissimos fugiat reprehenderit!</p>
</body>
</html>