<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>css test</title>

    <style>
        h2 {
            color: #AACBE2;
        }

        ul li {
            color: red;
            text-decoration: underline;
        }
        ul, ol{
            background: powderblue;
        }

        #hoho>li {
            border: 1px solid blue;
            color: blue;
        }

        #select {
            font-size: 100px;
            text-decoration: aliceblue;
        }

        .deactive {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<h1>hellow</h1>
<hr>

<h2>hihi</h2>
<h3 style="color: #eeeeaa;">hoho</h3>

<ul>
    <li class="deactive">html</li>
    <li id="select">css</li>
    <li class="deactive">java</li>
</ul>

<ol id="hoho">
    <li class="second">javis</li>
    <li>hi
        <ol>
            <li>selector</li>
            <li>declaration</li>
        </ol>
    </li>
    <li>javis2</li>
</ol>
</body>
</html>