<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gogo</title>
    <style>
/*        min이 이상일 때, max가 이하일 때 */
        @media (max-width:500px){
            body{
                background-color: red;
            }
        }
        
        @media (min-width:600px){
            body{
                background-color: green;
            }
        }

        h1{
            width: 1000px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <h1>ehe</h1>
</body>
</html>