<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>css test</title>

    <style>
        a:link{
            color: black;
        }
        a:visited{
            color: red;
        }
        a:hover {
            color: yellow;
        }

        a:active {
            color: green;
        }

        a:focus{
            color: white;
        }
        input:focus{
            color: white;
            background-color: black;
        }
        
    </style>
</head>
<body>
<h1>hellow</h1>
<hr>
<a href="https://opentutorials.org">방문함</a>
<a href="http://a.a">방문 안</a>
<input type="text">
</body>
</html>