{% extends 'layout.html' %}
{% block title %}Make{% endblock %}

{% block content %}
    <div class="block">

        <div class="block_section ui raised segment">

            <h1>Block</h1>
            <p>make the block</p>

            <div id="blocklyDiv"></div>

            <xml id="toolbox" style="display: none">

                <category name="임시" colour="0">
                    <block type="text_print"></block>
                    <block type="logic_compare"></block>
                    <block type="logic_operation"></block>
                    <block type="logic_boolean"></block>
                    <block type="text"></block>

                </category>

                <sep gap="32"></sep>

                <category name="조건" colour="50">
                    <block type="controls_if">

                    </block>
                    <block type="controls_if">
                        <mutation else="1"></mutation>
                    </block>
                    <block type="controls_if">
                        <mutation elseif="1" else="1"></mutation>
                    </block>
                </category>

                <category name="반복" colour="100">
                    <block type="controls_repeat_ext">
                        <value name="TIMES">
                            <shadow type="math_number">
                                <field name="NUM">10</field>
                            </shadow>
                        </value>
                    </block>
                    <block type="controls_whileUntil">
                        <value name="BOOL">
                            <shadow type="logic_boolean"></shadow>
                        </value>
                    </block>
                    <block type="controls_for">
                        <field name="VAR">i</field>
                        <value name="FROM">
                            <shadow type="math_number">
                                <field name="NUM">0</field>
                            </shadow>
                        </value>
                        <value name="TO">
                            <shadow type="math_number">
                                <field name="NUM">3</field>
                            </shadow>
                        </value>
                        <value name="BY">
                            <shadow type="math_number">
                                <field name="NUM">1</field>
                            </shadow>
                        </value>
                    </block>
                </category>

                <category name="논리" colour="210">
                    <block type="logic_compare"></block>
                    <block type="logic_operation"></block>
                    <block type="logic_negate"></block>
                    <block type="logic_boolean"></block>
                    <block type="logic_null"></block>
                    <block type="logic_ternary"></block>
                </category>

                <category name="연산" colour="200">
                    <block type="math_number">
                        <field name="NUM">0</field>
                    </block>
                    <block type="math_number">
                        <field name="NUM">1</field>
                    </block>
                    <block type="math_arithmetic"></block>
                    <block type="math_modulo"></block>
                    <block type="math_random_int">
                        <value name="FROM">
                            <shadow type="math_number">
                                <field name="NUM">0</field>
                            </shadow>
                        </value>
                        <value name="TO">
                            <shadow type="math_number">
                                <field name="NUM">1023</field>
                            </shadow>
                        </value>
                    </block>
                </category>

                <sep gap="32"></sep>

                <category name="변수" colour="300" custom="VARIABLE">
                </category>
                <category name="함수" colour="350" custom="PROCEDURE">
                </category>


            </xml>


            <script>
                $(function () {
                    $("html, body").on('mousewheel DOMMouseScroll', function (e) {
                        // html, body 에 마우스 휠 이벤트와 돔마우스스크롤 이벤트를 걸었습니다.
                        var E = e.originalEvent;
                        // 변수 E 에다가는 이벤트 객체의 속성으로 사용할 수 있는 속성 인 originalEvent 를 넣었습니다.
                        delta = 0;
                        // 변수 delta 에다가는 숫자 자료형 0 을 넣어 두었습니다.
                        if (E.detail) {
                            // 이 조건에서는 e.originalEvent 의 속성으로 detail 가 있다면 입니다.
                            // 익스, 크롬 등은 e.originalEvent 에 detail 의 속성이 없으나,
                            // 파이어 폭스 일 경우엔 detail 속성이 있습니다.
                            // 그래서 이 조건을 실행 시킵니다.
                            delta = E.detail * -40;
                            // 이렇게 해주는 이유는 detail 의 값이 익스와 크롬과는 다르게 3 이 찍힙니다.
                            // 익스, 크롬은 120 이 찍히죠.
                            // 익스, 크롬과 동일하게 해주기 위해서 이렇게 해줍니다.
                            $('#as').text(delta);
                        } else {
                            // 이곳에서는 익스, 크롬의 e.originalEvent 의 속성으로 wheelDelta 를 사용할 수 있습니다.
                            delta = E.wheelDelta;
                            $('#as').text(delta);
                        }
                    });
                });

                var workspace = Blockly.inject('blocklyDiv',
                    {
                        media: '../../media/',
                        toolbox: document.getElementById('toolbox'),
                        grid: {spacing: 20, length: 3, colour: '#ccc', snap: true},
                        zoom:{controls:true, wheel:true, startScale:1.0, maxScale:2, minScale:0.5, scaleSpeed:1.2},
                        trashcan: true
                    });

                function myUpdateFunction(event) {
                    var code = Blockly.Python.workspaceToCode(workspace);
                    document.getElementById('textarea').value = code;
                }
                workspace.addChangeListener(myUpdateFunction);
            </script>
        </div>
        <div class="script_section ui raised segment">
            <h1>이곳에 마우스 휠을 이용하여 스크롤 해주세요. (위, 아래)</h1>
            <span id="as"></span>
        </div>


        <div class="script_section ui raised segment">
            <h1>Script</h1>
            <p>Change to Python</p>
            <div class="script">
                <textarea id="textarea"></textarea>
            </div>
            <a href="/upload">
                <div class="upload teal ui right floated button">upload</div>
            </a>
        </div>


    </div>

{% endblock %}