{% extends 'layout.html' %}
{% block title %}Make{% endblock %}

{% block content %}
    <div class="block">

        <section class="block_section ui raised segment">
            <h1>Block</h1>
            <p>make the block</p>
            <div id="blocklyDiv"></div>
            <xml id="toolbox" style="display: none">
                <category name="g" colour="0">
                    <block type="text_print"></block>

                </category>
                <category name="a" colour="50">
                    <block type="logic_compare"></block>


                </category>
                <category name="b" colour="100">

                    <block type="controls_repeat_ext"></block>

                </category>
                <category name="c" colour="150">
                    <block type="controls_if"></block>

                </category>
                <category name="d" colour="200">
                    <block type="math_number"></block>

                </category>
                <category name="ee" colour="250">
                    <block type="math_arithmetic"></block>


                </category>
                <!--<sep gap="32"></sep>-->

                <category name="f" colour="300">
                    <block type="text"></block>
                </category>

            </xml>
            <script>
                var workspace = Blockly.inject('blocklyDiv',
                    {
                        media: '../../media/',
                        toolbox: document.getElementById('toolbox')
                    });

                function myUpdateFunction(event) {
                    var code = Blockly.Python.workspaceToCode(workspace);
                    document.getElementById('textarea').value = code;
                }
                workspace.addChangeListener(myUpdateFunction);
            </script>
        </section>


        <section class="script_section ui raised segment">
            <h1>Script</h1>
            <p>Change to Python</p>
            <div class="script">
                <textarea id="textarea"></textarea>
            </div>
            <a href="/upload">
                <div class="teal ui right floated button">upload</div>
            </a>
        </section>

    </div>

{% endblock %}