{% extends 'layout.html' %}
{% block title %}Make{% endblock %}

{% block content %}

    {# 이전 버전 #}
    {#        <div class="block_menu ui menu">#}
    {##}
    {#            <a class="item">#}
    {#                <div class="ui title input"><input form="upload_form" name="title" type="text" placeholder="title"></div>#}
    {#            </a>#}
    {#            <a class="item" onclick="saveWorkspace()">save</a>#}
    {#            <a class="item" onclick="loadWorkspace()">load</a>#}
    {##}
    {#            <input type="submit" class="upload teal ui right floated button" value="upload">#}
    {#        </div>#}

    <div class="block_menu ui form">
        <div class="ui menu field">

            <a class="item">
                <div class="ui title input"><input form="upload_form" name="title" type="text" placeholder="title">
                </div>
            </a>
            <a class="item" onclick="saveWorkspace()">save</a>
            <a class="item" onclick="loadWorkspace()">load</a>

            <form class="item" action="/upload" method="post" id="upload_form" onclick="saveWorkspace2()">
                <input type="submit" class="upload teal ui right floated button" value="upload">
            </form>
            <a class="item">
                <div class="ui title input"><input form="upload_form" name="sub_title" type="text"
                                                   placeholder="sub_title">
                </div>
            </a>

        </div>
    </div>


    <div class="block">

        <div class="block_section ui raised segment">

            <h1>Block</h1>
            {#            <p>make the block</p>#}
            <p>블록을 조합하여 프로그램을 만들어 봅시다.</p>

            <div id="blocklyDiv"></div>

            <xml id="toolbox" style="display: none">

                <category name="외부" colour="0">
                    <block type="weather"></block>
                    <block type="SKY"></block>
                    <block type="PTY"></block>
                    <block type="PM10"></block>
                    <block type="PM25"></block>
                    <block type="O3"></block>
                </category>

                <category name="센서" colour="30">
                    {#                    <block type="soil_humi_sensor"></block>#}
                    <block type="illumination_sensor"></block>
                    <block type="temp_humi_sensor"></block>
                    <block type="human_sensor"></block>
                    {#                    <block type="distance_sensor"></block>#}
                    {#                    <block type="knock_sensor"></block>#}
                    {#                    <block type="btn_sensor"></block>#}
                    <block type="clap_sensor"></block>
                    <block type="btn_cnt_sensor"></block>
                    <block type="pressure_sensor"></block>
                </category>

                <category name="동작" colour="60">
                    {#                    <block type="motor"></block>#}
                    <block type="remote"></block>
                    <block type="led">
                        <value name="TIMES">
                            <shadow type="math_number">
                                <field name="NUM">101010</field>
                            </shadow>
                        </value>
                    </block>
                    <block type="buzzer"></block>
                </category>


                <sep gap="32"></sep>


                <category name="출력" colour="180">
                    <block type="text_print"></block>
                    <block type="text"></block>
                </category>

                <category name="조건" colour="200">
                    <block type="controls_if">

                    </block>
                    <block type="controls_if">
                        <mutation else="1"></mutation>
                    </block>
                    <block type="controls_if">
                        <mutation elseif="1" else="1"></mutation>
                    </block>
                </category>

                <category name="반복" colour="220">
                    <block type="controls_repeat_ext">
                        <value name="TIMES">
                            <shadow type="math_number">
                                <field name="NUM">10</field>
                            </shadow>
                        </value>
                    </block>
                    <block type="controls_whileUntil">
                        <value name="BOOL">
                            <shadow type="logic_boolean"></shadow>
                        </value>
                    </block>
                    <block type="controls_for">
                        <field name="VAR">i</field>
                        <value name="FROM">
                            <shadow type="math_number">
                                <field name="NUM">0</field>
                            </shadow>
                        </value>
                        <value name="TO">
                            <shadow type="math_number">
                                <field name="NUM">3</field>
                            </shadow>
                        </value>
                        <value name="BY">
                            <shadow type="math_number">
                                <field name="NUM">1</field>
                            </shadow>
                        </value>
                    </block>
                </category>

                <category name="논리" colour="240">
                    <block type="logic_compare"></block>
                    <block type="logic_operation"></block>
                    <block type="logic_negate"></block>
                    <block type="logic_boolean"></block>
                    <block type="logic_null"></block>
                    <block type="logic_ternary"></block>
                    <block type="SW"></block>
                </category>

                <category name="연산" colour="260">
                    <block type="math_number">
                        <field name="NUM">0</field>
                    </block>
                    <block type="math_number">
                        <field name="NUM">1</field>
                    </block>
                    <block type="math_arithmetic"></block>
                    <block type="math_modulo"></block>
                    <block type="math_random_int">
                        <value name="FROM">
                            <shadow type="math_number">
                                <field name="NUM">0</field>
                            </shadow>
                        </value>
                        <value name="TO">
                            <shadow type="math_number">
                                <field name="NUM">1023</field>
                            </shadow>
                        </value>
                    </block>
                </category>

                <sep gap="32"></sep>

                <category name="변수" colour="280" custom="VARIABLE">
                </category>
                <category name="함수" colour="300" custom="PROCEDURE">
                </category>


            </xml>


            <script>

                var workspace = Blockly.inject('blocklyDiv',
                    {
                        {#                        media: '../../media/',#}
                        media: "https://blockly-demo.appspot.com/static/media/",
                        toolbox: document.getElementById('toolbox'),
                        grid: {spacing: 20, length: 3, colour: '#ccc', snap: true},
                        zoom: {
                            controls: true,
                            wheel: true,
                            startScale: 1.0,
                            maxScale: 2,
                            minScale: 0.5,
                            scaleSpeed: 1.1
                        },
                        trashcan: true
                    });

                function myUpdateFunction(event) {
                    var code = Blockly.Python.workspaceToCode(workspace);
                    document.getElementById('textarea').value = code;
                }
                workspace.addChangeListener(myUpdateFunction);


                //
                if (typeof(Storage) !== "undefined") {
                    // Code for localStorage/sessionStorage.
                    console.log('storage on!')
                } else {
                    // Sorry! No Web Storage support..
                    console.log('Sorry! No Web Storage support')
                }


                function saveWorkspace() {
                    var xmlDom = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);
                    var xmlText = Blockly.Xml.domToPrettyText(xmlDom);

                    localStorage.setItem("blockly.xml", xmlText);
                    alert('임시 저장 되었습니다!')
                }

                function saveWorkspace2() {
                    var xmlDom = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);
                    var xmlText = Blockly.Xml.domToPrettyText(xmlDom);
                    localStorage.setItem("blockly.xml", xmlText);
                }

                function loadWorkspace() {
                    var xmlText = localStorage.getItem("blockly.xml");
                    if (xmlText) {
                        Blockly.mainWorkspace.clear();
                        xmlDom = Blockly.Xml.textToDom(xmlText);
                        Blockly.Xml.domToWorkspace(Blockly.mainWorkspace, xmlDom);
                    }
                }

                $(document)
                    .ready(function () {
                        $('.ui.form')
                            .form({
                                fields: {
                                    title: {
                                        identifier: 'title',
                                        rules: [
                                            {
                                                type: 'empty',
                                                prompt: '타이틀을 입력하세요'
                                            },
                                            {
                                                type: 'length[0]',
                                                prompt: '타이틀은 1자 이상입니다'
                                            }
                                        ]
                                    },
                                    sub_title: {
                                        identifier: 'sub_title',
                                        rules: [
                                            {
                                                type: 'empty',
                                                prompt: '서브타이틀을 입력하세요'
                                            },
                                            {
                                                type: 'length[0]',
                                                prompt: '서브타이틀은 1자 이상입니다'
                                            }
                                        ]
                                    }
                                }
                            });
                    });
            </script>


        </div>

        <div class="two_section ui raised segment">
            <div class="script_section ui raised segment">

                <h1>Script</h1>
                {#                <p>Change to Python</p>#}
                <p>블록이 파이썬으로 자동변환됩니다.</p>

                <div class="script">
                    <textarea id="textarea" name="upload_app" form="upload_form"></textarea>
                </div>
                {#            <form action="/upload" method="post" id="upload_form" onclick="saveWorkspace2()">#}
                {#                <input type="submit" class="upload teal ui right floated button" value="upload">#}
                {#            </form>#}
            </div>

            <div class="ex_info_section ui raised segment">
                <div class="ui grid">
                    <div class="thirteen wide column">
                        <h1>Info</h1>
                    </div>
                    <div class="three wide column">
                        <div class="ui dropdown">
                            <div class="help item">
                                <i class="help large icon"></i>
                            </div>
                            <div class="help menu">
{#                                <h5>*참고*</h5>#}
{#                                <div class="divider"></div>#}
                                <div class="item"><span>강수 형태 > 0:없음 1:비 2:비/눈 3:눈</span></div>
                                <div class="item"><span>하늘 상태 > 1:맑음 2:구름조금 3:구름많음 4:흐림</span></div>
                                <div class="item"><span>미세 먼지 > 0~30:좋음 31~80:보통 81~150:나쁨 151~:매우나쁨</span></div>
                                <div class="item"><span>초미세 먼지 > 0~15:좋음 16~50:보통 51~100:나쁨 101~:매우나쁨</span></div>
                                <div class="item"><span>미세 먼지(WHO 기준) > 0~30:좋음 31~50:보통 51~100:나쁨 101~:매우나쁨</span></div>
                                <div class="item"><span>초미세 먼지(WHO 기준) > 0~15:좋음 16~25:보통 26~50:나쁨 51~:매우나쁨</span></div>
                                <div class="item"><span>오존 농도 > 0~0.12:보통 0.12~0.3:주의보 0.3~0.5:중대경보</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                {#                <p>Realtime External Information</p>#}

                <p>현재 시간 외부 정보입니다.</p>

                <div class="ex_info">
                    {% for i in data.ex_info.weather %}
                        {% if i.category == 'T1H' %}
                            <span>기상청 온도 : {{ i.obsrValue }}°C</span><br>
                        {% endif %}
                        {% if i.category == 'REH' %}
                            <span>기상청 습도 : {{ i.obsrValue }}%</span><br>
                        {% endif %}
                        {% if i.category == 'SKY' %}
                            {% if i.obsrValue  == 1 %}
                                <span>하늘 상태 : 1 (맑음)</span><br>
                            {% elif i.obsrValue  == 2 %}
                                <span>하늘 상태 : 2 (구름 조금)</span><br>
                            {% elif i.obsrValue  == 3 %}
                                <span>하늘 상태 : 3 (구름 많음)</span><br>
                            {% elif i.obsrValue  == 4 %}
                                <span>하늘 상태 : 4 (흐림)</span><br>
                            {% endif %}
                        {% endif %}
                        {% if i.category == 'PTY' %}
                            {% if i.obsrValue  == 0 %}
                                <span>강수 형태 : 0 (없음)</span><br>
                            {% elif i.obsrValue  == 1 %}
                                <span>강수 형태 : 1 (비)</span><br>
                            {% elif i.obsrValue  == 2 %}
                                <span>강수 형태 : 2 (비/눈)</span><br>
                            {% elif i.obsrValue  == 3 %}
                                <span>강수 형태 : 3 (눈)</span><br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {#                    {% for i in data.ex_info.mise %}#}
                    <span>미세먼지(10㎛) : {{ data.ex_info.mise.PM10 }}</span><br>
                    <span>초미세먼지(2.5㎛) : {{ data.ex_info.mise.PM25 }}</span><br>
                    <span>오존농도(ppm) : {{ data.ex_info.mise.O3 }}</span><br>
                    {#                    {% endfor %}#}

                </div>
            </div>
        </div>


    </div>


{% endblock %}