{% extends 'layout.html' %}
{% block title %}Control{% endblock %}

{% block content %}
    <div class="control_all_top_margin"></div>

    {# app #}
    <div class="control_all_app_section ui segment">

        <div class="app_section ui items">

            <div class="app_title item">
                <div class="app_title content">
                    <div class="header">APP</div>
                    <div class="ui teal right floated button">Add</div>
                    <div class="meta">블록비의 APP에서 센서 정보를 보거나 모터를 제어해 봅시다.</div>
                    {#                    <div>김정혜 사랑해</div>#}
                </div>
            </div>

            <div class="ui centered cards">
                <!--4-->
                {% for i in data.apps %}
                    <div class="card">

                        <div class="app_info content">

                            <div class="title ui grid ">
                                <div class="twelve wide column">
                                    <h1>{{ i.app_name }}</h1>
                                </div>
                                <div class="four wide column">
                                    <a href="/switch/{{ i.app_id }}">
                                        <div class="right floated {% if i.app_switch %}teal{% else %}orange{% endif %} tiny ui animated fade button">
                                            {% if i.app_switch %}
                                                <div class="visible content">ON</div>
                                                <div class="hidden content">OFF</div>
                                            {% else %}
                                                <div class="visible content">OFF</div>
                                                <div class="hidden content">ON</div>
                                            {% endif %}


                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <form class="item" action="/setting/{{ i.app_id }}" method="post" id="n_s_set">
                                    <div class="sub">
                                        <div class="ui accordion ">
                                            <div class="title">
                                                <div class="meta">{{ i.app_detail }}</div>
                                                <i id="{{ i.app_id }}" class="right floated link options icon"></i>
{#                                                <div  class="right floated ui basic modal">#}
{#                                                    <i id="{{ i.app_id }}" class=" remove icon"></i>#}
{#                                                    <div class="menu">#}
{#                                                        <div id="setting_delete_app" class="right floated item">#}
{#                                                            <input name="sub" type="submit" class="red ui mini button" value="APP DELETE">#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
                                            </div>
                                            <div id="set_all" class="content">
                                                <p>
                                                    <div class="right floated item">
                                                        <div class="ui right pointing label">in</div>
                                                        <div class="ui mini teal labeled input">
                                                            <div class="ui teal label">node</div>
                                                            <input placeholder="node" id="in_n" name="input_data_n" maxlength='3' type='text' value="{% if i.set %}{{ i.set.in_node }}{% else %}0{% endif %}"/>
                                                        </div>
                                                        <div class="ui mini labeled input">
                                                            <div class="ui teal label">sensor</div>
                                                            <input placeholder="sensor" id="in_s" name="input_data_s" maxlength='3' type='text' value="{% if i.set %}{{ i.set.in_sensor }}{% else %}0{% endif %}"/>
                                                        </div>
                                                    </div>
                                                    <div class="right floated item">
                                                        <div class="ui right pointing label">out</div>
                                                        <div class="ui mini teal labeled input">
                                                            <div class="ui teal label">node</div>
                                                            <input placeholder="node" id="out_n" name="output_data_n" maxlength='3' type='text' value="{% if i.set %}{{ i.set.out_node }}{% else %}0{% endif %}"/>
                                                        </div>
                                                        <div class="ui mini labeled input">
                                                            <div class="ui teal label">sensor</div>
                                                            <input placeholder="sensor" id="out_s" name="output_data_s" maxlength='3' type='text' value="{% if i.set %}{{ i.set.out_sensor }}{% else %}0{% endif %}"/>
                                                        </div>
                                                    </div>
                                                    <div id="setting_save" class="right floated item">
                                                        <input name="sub" type="submit" class="teal ui mini button" value="SETTING SAVE">
                                                    </div>
                                                    <div id="{{ i.app_id }}" class="remove right floated item">
{#                                                        <input name="sub" type="submit" class="red ui mini button" value="APP DELETE">#}
                                                        <div class="red ui mini button">APP DELETE</div>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>

                                    </div>


                                </form>
                                <form class="item" action="/app/delete" name="app_delete_form" id="app_delete_form">
                                    <div id="{{ i.app_id }}" class="ui basic modal">
                                        <div class="ui icon header">
                                            <i class="archive icon" ></i>
                                            정말 앱을 삭제하시겠습니까?
                                        </div>
                                          <div class="right floated content" style="text-align: center">
                                            한번 삭제한 앱은 다시 복구할 수 없습니다.
                                          </div>
                                          <div class="actions" style="text-align: center">
                                            <div class="ui red basic cancel inverted button">
                                              <i class="remove icon"></i>
                                              No
                                            </div>
                                            <div class="ui green ok inverted button">
                                              <i class="checkmark icon"></i>
                                              Yes
                                            </div>
                                          </div>
                                    </div>
                                </form>

                            </div>


                        </div>

                        <div class="sensor content">
                            <div class="header">
                                <p>{{ i.app_input }}</p>
                            </div>
                            <div class="description">
                                <div class="ui grid">
                                    {% for j in i.app_input_detail %}
                                        <div class="two wide column"><i class="{{ j['icon'] }}"></i></div>
                                        <div class="six wide column">{{ j['value'] }}</div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                        <div class="actuator content">

                            <div class="header">
                                <h3>{{ i.app_output }}</h3>
                            </div>
                            <div>

                            </div>
                            {#                            <div class="meta">#}
                            {#                                <p>If Temp < 18°C</p>#}
                            {#                                <p>Then motor turn</p>#}
                            {#                            </div>#}
                            {% if i.app_output == 'LED' %}
                                <form class="item" action="/led_out/{{ i.app_id }}" method="post" id="rgb">
                                    <div class="ui right pointing mini label">
                                        rgb
                                    </div>
                                    <div class="ui mini input">
                                        <input id="out_input" name="rgb" type='text' class="example_default"
                                           value="#{{ i.app_output_detail }}"/>
                                        <script>
                                            $(document).ready(function () {
                                                $(".example_default").asColorPicker();
                                            });
                                        </script>
                                    </div>

                                    <input name="sub" type="submit"
                                           class="teal ui right floated small {% if i.app_output_detail == '000000' %}active{% endif %} button"
                                           value="OFF">
                                    <input name="sub" type="submit"
                                           class="teal ui right floated small {% if i.app_output_detail != '000000' %}active{% endif %} button"
                                           value="ON">
                                </form>
                            {% elif i.app_output == '서보' %}
                                <div class="ui teal inverted two item menu">
                                    <a class="{% if i.app_output_detail != '0' %}active{% endif %} item">ON</a>
                                    <a class="{% if i.app_output_detail == '0' %}active{% endif %} item">OFF</a>
                                </div>
                            {% elif i.app_output == '서보 모터' %}
                                <form class="item" action="/output/{{ i.app_id }}" method="post" id="input_data">
                                    <div class="ui right pointing mini label">
                                        servo
                                    </div>
                                    <div class="ui mini input">
                                        <input id="out_input" name="input_data" type='text'
                                           value="{{ i.app_output_detail }}"/>
                                    </div>
                                    <input type="hidden" name="queue" value="{{ i.app_output }}">
                                    <input name="sub" type="submit"
                                           class="teal ui right floated small {% if i.app_output_detail == '0' %}active{% endif %} button"
                                           value="OFF">
                                    <input name="sub" type="submit"
                                           class="teal ui right floated small {% if i.app_output_detail != '0' %}active{% endif %} button"
                                           value="ON">
                                </form>
                            {% elif i.app_output == '리모컨' %}
                                <form class="item" action="/output/{{ i.app_id }}" method="post" id="input_data">
                                    <div class="ui right pointing mini label">
                                        remote
                                    </div>
                                    <div class="ui mini input">
                                        <input id="out_input" name="input_data" type='text'
                                           value="{{ i.app_output_detail }}"/>
                                    </div>
                                    <input type="hidden" name="queue" value="{{ i.app_output }}">
                                    <input name="sub" type="submit"
                                           class="teal ui right floated small {% if i.app_output_detail == 'off' %}active{% endif %} button"
                                           value="OFF">
                                    <input name="sub" type="submit"
                                           class="teal ui right floated small {% if i.app_output_detail != 'off' %}active{% endif %} button"
                                           value="ON">
                                </form>
                            {% elif i.app_output == '부저' %}
                                <form class="item" action="/output/{{ i.app_id }}" method="post" id="input_data">
                                    <div class="ui right pointing mini label">
                                        buzzer
                                    </div>
                                    <div class="ui mini input">
                                        <input id="out_input" name="input_data" type='text'
                                           value="{{ i.app_output_detail }}"/>
                                    </div>
                                    <input type="hidden" name="queue" value="{{ i.app_output }}">
                                    <input name="sub" type="submit"
                                           class="teal ui right floated small {% if i.app_output_detail == 'stop' %}active{% endif %} button"
                                           value="OFF">
                                    <input name="sub" type="submit"
                                           class="teal ui right floated small {% if i.app_output_detail != 'stop' %}active{% endif %} button"
                                           value="ON">
                                </form>
                            {% endif %}

                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    {# log #}
    <div class="control_all_log_section ui segment">
        <div class="log_section ui items">

            <div class="log_title item">
                <div class="log_title content">
                    <div class="header">LOG</div>
                    <a href="/control/log"><div class="ui teal right floated button">Refresh</div></a>
{#                        <div class="ui teal right floated button" onclick="callMethod()">Refresh</div>#}
                    <div class="meta">APP에서 측정한 센서 기록이나 제어 기록을 확인합니다.</div>
                </div>
            </div>

            <div class="item">
                <div class="pc_log content">
                    {% for i in data.log %}
                        <h1 align="center">{{ i.log_content }} at {{ i.created_date }}</h1>
                    {% endfor %}
                </div>
                <div class="mobile_log content ui segment">
                    {% for i in data.log %}
                        <div class="header">{{ i.log_content }}</div>
                        <div class="meta">{{ i.created_date }}</div>
                    {% endfor %}
                </div>

                {#                <div class="pc_log content">#}
                {#                    <h1 align="center">node[1]에서 온도 : 24°C, 습도 : 18% 감지 at 2017. 03. 25 (Sat) 05:37:41</h1>#}
                {#                    <h1 align="center">node[1]에서 온도 : 24°C, 습도 : 18% 감지 at 2017. 03. 25 (Sat) 05:37:41</h1>#}
                {#                    <h1 align="center">node[1]에서 온도 : 24°C, 습도 : 18% 감지 at 2017. 03. 25 (Sat) 05:37:41</h1>#}
                {#                    <h1 align="center">node[1]에서 온도 : 24°C, 습도 : 18% 감지 at 2017. 03. 25 (Sat) 05:37:41</h1>#}
                {#                </div>#}
                {#                <div class="pc_log content ui segment">#}
                {#                    <div class="header"><h1>node[1]에서 온도 : 24°C, 습도 : 18% 감지</h1></div>#}
                {#                    <div class="meta"><h2>2017. 03. 25 (Sat) 05:37:41</h2></div>#}
                {#                    <div class="header">node[1]에서 온도 : 24°C, 습도 : 18% 감지</div>#}
                {#                    <div class="meta">2017. 03. 25 (Sat) 05:37:41</div>#}
                {#                    <div class="header">node[1]에서 온도 : 24°C, 습도 : 18% 감지</div>#}
                {#                    <div class="meta">2017. 03. 25 (Sat) 05:37:41</div>#}
                {#                    <div class="header">node[1]에서 온도 : 24°C, 습도 : 18% 감지</div>#}
                {#                    <div class="meta">2017. 03. 25 (Sat) 05:37:41</div>#}
                {#                </div>#}

            </div>
        </div>
    </div>

    {# node #}
    <!--d3-->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <div class="control_all_node_section ui segment">
        <div class="node_section ui items">

            <div class="node_title item">
                <div class="node_title content">
                    <div class="header">NODE</div>
{#                    <a href="/control/node"><div class="ui teal right floated button">Refresh</div></a>#}
                        <div class="ui teal right floated button" onclick="callMethod()">Refresh</div>
                    <div class="meta">IoT허브의 노드 연결 정보를 확인할 수 있습니다.</div>
                </div>
            </div>


            <div class="ui raised segment">
                <div class="node_info content">
                    <svg id="node"></svg>
                    {#                    <svg id="demo"></svg>#}
                </div>
            </div>


        </div>
    </div>
    {#    <svg id="node"></svg>#}
    {#    {% endif %}#}


    <script>
        function linkPopup() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
        $('.ui.accordion')
            .accordion({
                selector:{
                    trigger: '.title .link.options.icon'
                }
                }
            )
        ;
{#        $('.title .link.options.icon').click(function () {#}
{#            var app_id = $(this).attr('id');#}
{#            console.log($(this).attr('id'));#}
{#            var visi = $('.ui.accordion .title .remove.icon').filter('#'+app_id).css("visibility");#}
{#            console.log(visi);#}
{#            if(visi == 'hidden')#}
{#                $('.ui.accordion .title .remove.icon').filter('#'+app_id).css('visibility','visible');#}
{#            else if(visi == 'visible')#}
{#                $('.ui.accordion .title .remove.icon').filter('#'+app_id).css('visibility','hidden');#}
{#        });#}

{#        $('.remove.icon').click(function () {#}
{#            var app_id = $(this).attr('id');#}
{#            $('.ui.basic.modal').filter('#'+app_id).modal('show');#}
{#        });#}
        $('.remove.right.floated.item').click(function () {
           var app_id = $(this).attr('id');
{#           console.log(app_id);#}
            $('.ui.basic.modal').filter('#'+app_id).modal('show');
        });

        $('.ui.basic.modal').modal({
            onDeny:function () {
{#                window.alert('no');#}

            },
            onApprove:function () {
{#                window.alert('yes');#}
                var app_id = $(this).attr('id');
{#                console.log(app_id);#}
                var hidden = document.createElement('input');
                hidden.type = "hidden";
                hidden.name = "app_id";
                hidden.value = app_id;
                var my_form = document.getElementById('app_delete_form');
                my_form.appendChild(hidden);
                my_form.submit();
            }
        });

    </script>


    <div class="control_all_bottom_margin"></div>
{% endblock %}