{% extends 'layout.html' %}
{% block title %}DIYT{% endblock %}

{% block content %}
    <section class="app_section">


        <div class="ui centered cards">

            <div class="card">

                <div class="app_info content">

                    <div class="title ui grid ">
                        <div class="twelve wide column">
                            <h1>Knock & OFF</h1>
                        </div>
                        <divi class="four wide column">
                            <div class="right floated teal tiny ui button">ON</div>
                        </divi>
                    </div>

                    <div class="sub ui grid">
                        <div class="fourteen wide column">
                            <div class="meta">
                                Auto turn off the light by knocking
                            </div>
                        </div>
                        <div class="two wide column">
                            <i class="center aligned right floated link options icon"></i>
                        </div>
                    </div>

                </div>

                <div class="sensor content">

                    <div class="header">
                        <h3>Knock Sensor</h3>
                    </div>
                    <div class="description">
                        <div class="ui grid">
                            <div class="two wide column"><i class="bullseye icon"></i></div>
                            <div class="six wide column">value : 45%</div>
                            <div class="two wide column"><i class="hand rock icon"></i></div>
                            <div class="six wide column">two</div>
                        </div>
                    </div>

                </div>

                <div class="actuator content">

                    <div class="header">
                        <h3>Motor</h3>
                    </div>
                    <div class="meta">
                        <p>If value > 50 and count : two</p>
                        <p>Then motor turn</p>
                    </div>
                    <div class="ui teal inverted two item menu">
                        <a class="active item">ON</a>
                        <a class="item">OFF</a>
                    </div>

                </div>

            </div>

            <!--2-->
            <div class="card">

                <div class="app_info content">

                    <div class="title ui grid ">
                        <div class="twelve wide column">
                            <h1>Temp & Close</h1>
                        </div>
                        <divi class="four wide column">
                            <div class="right floated teal tiny ui toggle button">ON</div>
                        </divi>
                    </div>

                    <div class="sub ui grid">
                        <div class="fourteen wide column">
                            <div class="meta">
                                Auto closing door system by temperature
                            </div>
                        </div>
                        <div class="two wide column">
                            <i class="right floated link options icon"></i>
                        </div>
                    </div>

                </div>

                <div class="sensor content">

                    <div class="header">
                        <h3>Temp & Humi</h3>
                    </div>
                    <div class="description">
                        <div class="ui grid">
                            <div class="two wide column"><i class="sun icon"></i></div>
                            <div class="six wide column">24°C</div>
                            <div class="two wide column"><i class="theme icon"></i></div>
                            <div class="six wide column">15%</div>
                        </div>
                    </div>

                </div>

                <div class="actuator content">

                    <div class="header">
                        <h3>Motor</h3>
                    </div>
                    <div class="meta">
                        <p>If Temp < 18°C</p>
                        <p>Then motor turn</p>
                    </div>
                    <div class="ui teal inverted two item menu">
                        <a class="active item">ON</a>
                        <a class="item">OFF</a>
                    </div>

                </div>

            </div>

            <!--3-->
            <div class="card">

                <div class="app_info content">

                    <div class="title ui grid ">
                        <div class="twelve wide column">
                            <h1>Temp & Close</h1>
                        </div>
                        <divi class="four wide column">
                            <div class="right floated teal tiny ui toggle button">ON</div>
                        </divi>
                    </div>

                    <div class="sub ui grid">
                        <div class="fourteen wide column">
                            <div class="meta">
                                Auto closing door system by temperature
                            </div>
                        </div>
                        <div class="two wide column">
                            <i class="right floated link options icon"></i>
                        </div>
                    </div>

                </div>

                <div class="sensor content">

                    <div class="header">
                        <h3>Temp & Humi</h3>
                    </div>
                    <div class="description">
                        <div class="ui grid">
                            <div class="two wide column"><i class="sun icon"></i></div>
                            <div class="six wide column">24°C</div>
                            <div class="two wide column"><i class="theme icon"></i></div>
                            <div class="six wide column">15%</div>
                        </div>
                    </div>

                </div>

                <div class="actuator content">

                    <div class="header">
                        <h3>Motor</h3>
                    </div>
                    <div class="meta">
                        <p>If Temp < 18°C</p>
                        <p>Then motor turn</p>
                    </div>
                    <div class="ui teal inverted two item menu">
                        <a class="active item">ON</a>
                        <a class="item">OFF</a>
                    </div>

                </div>

            </div>

        </div>
    </section>
{% endblock %}
