<header class="header">
    <div class="ui container">
        <div class="ui teal inverted text menu">


            <!--nav-->
            <nav class="nav item">
                <a class="hamburger item">
                    <i class="sidebar large icon"></i>
                </a>
            </nav>

            <!--logo-->
            <div class="logo right item">
                <a href="/"><h1>DIYT</h1></a>
            </div>

            <!--nav-->
            <nav class="nav ui teal inverted secondary menu">
                <a href="/make" class="item">Make</a>
                <a href="/control" class="item">Control</a>
                <a href="/share" class="item">Share</a>
            </nav>

            {#            <!--nav-->#}
            {#            <nav class="ui teal inverted menu">#}
            {#                <a href="" class="item"><div class=" active tiny ui teal button">Make</div></a>#}
            {#                <a href="" class="item"><div class="teal tiny ui button">Control</div></a>#}
            {#                <a href="" class="item"><div class="teal tiny ui button">Share</div></a>#}
            {#            </nav>#}

            {#            <nav class="ui teal inverted grid">#}
            {#                <a href="" class="three wide column"><div class=" active  ui teal button">Make</div></a>#}
            {#                <a href="" class="three wide column"><div class="teal  ui button">Control</div></a>#}
            {#                <a href="" class="three wide column"><div class="teal  ui button">Share</div></a>#}
            {#            </nav>#}

            <!--info-->
            <section class="info_section right item">
                {% if not data.username %}
                <a href="/signin" class="info item">
                    {#                        <i class="setting large icon"></i>#}
                    <i class="large arrow right icon"></i>
                    <p class="login">로그인</p>
                </a>
                {% else %}
                <div class="ui dropdown">
                    <div class="info item">
                        <span>{{ data.username }} 님,</span>
                        <span>Hub : {{ data.hub_status }}</span>
                        <i class="setting large icon"></i>
                    </div>
                    <div class="menu">
                        <a href="{{ url_for('index') }}" class="item">
                            <i class="user icon"></i>
                            나의 정보
                        </a>
                        <a href="{{ url_for('index') }}" class="item">
                            <i class="settings icon"></i>
                            계정 설정
                        </a>
                        <a href="{{ url_for('index') }}" class="item">
                            <i class="help icon"></i>
                            FAQ
                        </a>
                        <a href="{{ url_for('signout') }}" class="item">
                            <i class="sign out icon"></i>
                            로그 아웃
                        </a>
                    </div>
                </div>
                {% endif %}


            </section>


        </div>


    </div>

</header>