{% extends 'layout.html' %}
{% block title %}BLOCKBEE{% endblock %}

{% block content %}
    <div class="index_top_margin"></div>


    <section class="main_section">
        <div class="ui vertical center aligned segment">
{#            <img class="main_img" src="../static/images/logo-05.png" alt="">#}
{#            <img class="main_img" src="../static/images/main2.PNG" alt="">#}
{#            <img class="main_img" src="../static/images/main.PNG" alt="">#}
            <img src="../static/images/web_main11.jpg" alt="" class="main_img">
        </div>

    </section>

    <div class="index_bottom_margin"></div>

{% endblock %}