<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--css reset-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"/>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!--semantic-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>

    <!--d3-->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!--css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/control_footer.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/control_app.css') }}"/>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/node.css') }}"/>#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/block.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>

    <!--block-->
    <script src="../static/js/block/blockly_compressed.js"></script>
    <script src="../static/js/block/python_compressed.js"></script>
    <script src="../static/js/block/blocks_compressed.js"></script>
    <script src="../static/js/msg/js/ko.js"></script>
    <script src="../static/js/block/block_init.js"></script>

</head>
<body>

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

<div class="pusher">
    <div id="wrap" >
        {% block wrap %}
            {% include 'header.html' %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% if data.control %}
            {% block control_footer %}
                {% include 'control_footer.html' %}
            {% endblock %}
        {% endif %}

    </div>

</div>


<!--js-->
<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/gnode.js') }}"></script>


</body>
</html>
