{% extends 'layout.html' %}
{% block title %}Control{% endblock %}

{% block content %}
    <div class="control_all_top_margin"></div>


    {# app #}

    <div class="control_all_app_section ui segment">

        <div class="app_section ui items">

            <div class="app_title item">
                <div class="app_title content">
                    <div class="header">APP</div>
                    <div class="ui teal right floated button">Add</div>
                    <div class="meta">블록비의 APP에서 센서 정보를 보거나 모터를 제어해 봅시다.</div>
                </div>
            </div>

            <div class="ui centered cards">
                <div class="card">

                    <div class="app_info content">

                        <div class="title ui grid ">
                            <div class="twelve wide column">
                                <h1>노크로 불 끄기</h1>
                            </div>
                            <div class="four wide column">
                                <div class="right floated teal tiny ui button">ON</div>
                            </div>
                        </div>

                        <div class="sub ui grid">
                            <div class="fourteen wide column">
                                <div class="meta">
                                    {#                                    Auto turn off the light by knocking#}
                                    노크센서를 두 번 두드려 내 방 전등을 꺼보자!
                                </div>
                            </div>
                            <div class="two wide column">
                                <i class="center aligned right floated link options icon"></i>
                            </div>
                        </div>

                    </div>

                    <div class="sensor content">

                        <div class="header">
                            <h3>노크 센서</h3>
                        </div>
                        <div class="description">
                            <div class="ui grid">
                                <div class="two wide column"><i class="bullseye icon"></i></div>
                                <div class="six wide column">세기 : 45%</div>
                                <div class="two wide column"><i class="hand rock icon"></i></div>
                                <div class="six wide column">두 번</div>
                            </div>
                        </div>

                    </div>

                    <div class="actuator content">

                        <div class="header">
                            <h3>서보 모터</h3>
                        </div>
                        <div class="meta">
                            <p>If value > 50 and count : two</p>
                            <p>Then motor turn</p>
                        </div>
                        <div class="ui teal inverted two item menu">
                            <a href="/test/mqtt" class="active item">ON</a>
                            <a class="item">OFF</a>
                        </div>

                    </div>

                </div>

                <!--2-->
                <div class="card">

                    <div class="app_info content">

                        <div class="title ui grid ">
                            <div class="twelve wide column">
                                <h1>압력감지로 알람 끄기</h1>
                            </div>
                            <divi class="four wide column">
                                <div class="right floated teal tiny ui toggle button">ON</div>
                            </divi>
                        </div>

                        <div class="sub ui grid">
                            <div class="fourteen wide column">
                                <div class="meta">
                                    화장실 앞 카펫의 압력 감지 센서를 밟아야 알람이 꺼진다!
                                </div>
                            </div>
                            <div class="two wide column">
                                <i class="right floated link options icon"></i>
                            </div>
                        </div>

                    </div>

                    <div class="sensor content">

                        <div class="header">
                            <h3>압력감지</h3>
                        </div>
                        <div class="description">
                            <div class="ui grid">
                                <div class="two wide column"><i class="angle double down icon"></i></div>
                                <div class="six wide column">24 Pa</div>
                                {#                                <div class="two wide column"><i class="theme icon"></i></div>#}
                                {#                                <div class="six wide column">15%</div>#}
                            </div>
                        </div>

                    </div>

                    <div class="actuator content">

                        <div class="header">
                            <h3>부저</h3>
                        </div>
                        <div class="meta">
                            <p>If pressure < 18°C</p>
                            <p>Then buzzer turn</p>
                        </div>
                        <div class="ui teal inverted two item menu">
                            <a class="active item">ON</a>
                            <a class="item">OFF</a>
                        </div>

                    </div>

                </div>

                <!--3-->
                <div class="card">

                    <div class="app_info content">

                        <div class="title ui grid ">
                            <div class="twelve wide column">
                                <h1>기상청 온도로 창문 닫기</h1>
                            </div>
                            <divi class="four wide column">
                                <div class="right floated orange tiny ui toggle button">ON</div>
                            </divi>
                        </div>

                        <div class="sub ui grid">
                            <div class="fourteen wide column">
                                <div class="meta">
                                    기상청의 온도를 가져와 창문을 닫아보자!
                                </div>
                            </div>
                            <div class="two wide column">
                                <i class="right floated link options icon"></i>
                            </div>
                        </div>

                    </div>

                    <div class="sensor content">

                        <div class="header">
                            <h3>기상청 온도 및 습도</h3>
                        </div>
                        <div class="description">
                            <div class="ui grid">
                                <div class="two wide column"><i class="sun icon"></i></div>
                                <div class="six wide column">24°C</div>
                                <div class="two wide column"><i class="theme icon"></i></div>
                                <div class="six wide column">15%</div>
                            </div>
                        </div>

                    </div>

                    <div class="actuator content">

                        <div class="header">
                            <h3>서보 모터</h3>
                        </div>
                        <div class="meta">
                            <p>If Temp < 18°C</p>
                            <p>Then motor turn</p>
                        </div>
                        <div class="ui orange inverted two item menu">
                            <a class="active item">ON</a>
                            <a class="item">OFF</a>
                        </div>

                    </div>

                </div>


            </div>
        </div>

    </div>
    {#    {% endif %}#}

    {# log #}
    {#    {% if data.log %}#}
    <div class="control_all_log_section ui segment">
        <div class="log_section ui items">

            <div class="log_title item">
                <div class="log_title content">
                    <div class="header">LOG</div>
                    <div class="ui teal right floated button">Refresh</div>
                    <div class="meta">APP에서 측정한 센서 기록이나 제어 기록을 확인합니다.</div>
                </div>
            </div>

            <div class="item">
                <div class="pc_log content">
                    <h1 align="center">node[1]에서 온도 : 24°C, 습도 : 18% 감지 at 2017. 03. 25 (Sat) 05:37:41</h1>
                    <h1 align="center">node[1]에서 온도 : 24°C, 습도 : 18% 감지 at 2017. 03. 25 (Sat) 05:37:41</h1>
                    <h1 align="center">node[1]에서 온도 : 24°C, 습도 : 18% 감지 at 2017. 03. 25 (Sat) 05:37:41</h1>
                    <h1 align="center">node[1]에서 온도 : 24°C, 습도 : 18% 감지 at 2017. 03. 25 (Sat) 05:37:41</h1>
                </div>
                <div class="mobile_log content ui segment">
                    <div class="header">node[1]에서 온도 : 24°C, 습도 : 18% 감지</div>
                    <div class="meta">2017. 03. 25 (Sat) 05:37:41</div>
                    <div class="header">node[1]에서 온도 : 24°C, 습도 : 18% 감지</div>
                    <div class="meta">2017. 03. 25 (Sat) 05:37:41</div>
                    <div class="header">node[1]에서 온도 : 24°C, 습도 : 18% 감지</div>
                    <div class="meta">2017. 03. 25 (Sat) 05:37:41</div>
                    <div class="header">node[1]에서 온도 : 24°C, 습도 : 18% 감지</div>
                    <div class="meta">2017. 03. 25 (Sat) 05:37:41</div>
                </div>

            </div>
        </div>
    </div>
    {#    {% endif %}#}

    {# node #}
    {#    {% if data.node %}#}

    <!--d3-->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <div class="control_all_node_section ui segment">
        <div class="node_section ui items">

            <div class="node_title item">
                <div class="node_title content">
                    <div class="header">NODE</div>
                    <div class="ui teal right floated button">Refresh</div>
                    <div class="meta">IoT허브의 노드 연결 정보를 확인할 수 있습니다.</div>
                </div>
            </div>


            <div class="ui raised segment">
                <div class="node_info content">
                    <svg id="node"></svg>
                </div>
            </div>


        </div>
    </div>


    {#    <svg id="node"></svg>#}

    {#    {% endif %}#}


    <div class="control_all_bottom_margin"></div>
{% endblock %}
