<!doctype html>
<html>
<head>
    <title>마이슈 로그인</title>

    <!--시맨틱ui-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>


</head>
<body>

<h1>마이슈 로그인 페이지입니다. - api서버</h1>
<h2>시맨틱ui를 적용하였습니다</h2>

</hr>
<form action="" method="post">
    <fieldset>
        <legend>Login data</legend>
        <table>
            <tr>
                <td><label for="">email</label></td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td><label for="">password</label></td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <input type="submit" name="confirm" value="yes">
    </fieldset>
</form>
</body>
</html>