<!doctype html>
<html>
<head>
    <title>my test site</title>
</head>
<body>
<h1>hellow world!!</h1>
</hr>
<form action="" method="post">
    <fieldset>
        <legend>Login data</legend>
        <table>
            <tr>
                <td><label for="">email</label></td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td><label for="">password</label></td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <input type="submit">
    </fieldset>
</form>
</body>
</html>