<!doctype html>
<html>
<head>
    <title>마이슈 회원가입</title>
</head>
<body>
<!--시맨틱ui-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>

<h1>마이슈 회원가입 페이지 입니다 - api서버</h1>
<h2>시맨틱ui를 적용하였습니다</h2>
<h2>wtforms를 적용하였습니다</h2>
</hr>

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.accept_tos) }}
  </dl>
  <p><input type=submit value=Register>
</form>

</body>
</html>