<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이슈 회원가입 완료</title>
</head>
<body>
<h1>회원 가입을 축하합니다!</h1>
<a href="http://localhost:8000">홈페이지로 이동하기</a>
<a href="https://localhost:8000" class="fluid ui animated fade teal button manage-user-segment">
    <div class="visible content">홈페이지로 이동하기</div>
    <div class="hidden content">
        <i class="right arrow icon"></i>
    </div>

<a href="https://yourssu.com" class="fluid ui animated fade teal button manage-user-segment">
    <div class="visible content">유어슈로 돌아가기</div>
    <div class="hidden content">
        <i class="right arrow icon"></i>
    </div>
</body>
</html>
