
.block_menu.ui.form {
    margin-top: 50px;
    margin-bottom: 10px;
}

.block {

    display: flex;
    flex-flow: column nowrap;
    width: 100% !important;
    height: 100% !important;
}

.ui.raised.segment.block_section {
    width: 100%;
    height: 100%;
    /*padding: 0 !important;*/
    /*margin: 5px !important;*/
}

.block_section #blocklyDiv {
    width: 100%;
    height: 50vh;
}

.two_section .ui.raised.segment.script_section {
    width: 100%;
    height: 50%;
    /*padding: 0 !important;*/

}

.two_section .script_section #textarea {
    background: #eee;
    width: 100%;
    height: 30vh;
}

/*.two_section .script_section.ui.segment .upload {*/
/*margin: 10px;*/
/*}*/

.two_section.ui.raised.segment .ui.raised.segment.ex_info_section {
    width: 100%;
    height: 50%;
}

.ui.raised.segment.ex_info_section .ex_info {
    width: 100%;
    height: 25vh;

    border: 1px solid #86989B;
    background: #eee;
}

.ui.dropdown .help.menu {
    left: auto !important;
    right: 0px !important;
    z-index: 999;
}

/*----------------------- 태블릿용 CSS ----------------------*/
@media all and (min-width: 768px) {
    /* 기본 CSS */
    .ui.raised.segment.block_section {
        width: 100%;
        height: 100%;
        /*padding: 0 !important;*/
        /*margin: 5px !important;*/
    }

    .block_section #blocklyDiv {
        width: 100%;
        height: 50vh;
    }

    .two_section .ui.raised.segment.script_section {
        width: 100%;
        height: 100%;
        /*padding: 0 !important;*/

    }

    .two_section.ui.raised.segment .ui.raised.segment.ex_info_section {
        width: 100%;
        height: 100%;
    }

    .two_section .script_section #textarea {
        background: #eee;
        width: 100%;
        height: 30vh;
    }
}

/*----------------------- PC용 CSS ----------------------*/
@media all and (min-width: 960px) {
    /* 기본 CSS */
    .block {
        flex-flow: row nowrap;
    }

    .ui.raised.segment.block_section {
        width: 70%;
        height: 100%;
        padding: 14px !important;
        /*margin: 5px !important;*/
    }

    .block_section #blocklyDiv {
        /*position: relative;*/
        width: 100%;
        height: 80vh;
        /*width: 100%;*/
        /*height: 100%;*/
    }

    .two_section {
        margin-top: 0 !important;
        margin-bottom: 14px !important;
        width: 30%;
        display: flex;
        flex-flow: column nowrap;
    }

    .two_section.ui.raised.segment .ui.raised.segment.script_section {
        margin: 0 !important;
        /*border: 1px solid #000;*/
        width: 100%;
        height: 50%;
        padding: 14px !important;
    }

    .two_section.ui.raised.segment .script_section #textarea {
        width: 100%;
        height: 30vh;
    }

    .two_section.ui.raised.segment .ui.raised.segment.ex_info_section {
        width: 100%;
        height: 50%;
    }
}

