div.block {
    margin-top: 60px;
    margin-bottom: 60px;

    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

section.ui.raised.segment.block_section {
    width: auto;
    height: 100%;
    padding: 0 !important;
    /*margin: 5px !important;*/
}

section.block_section #blocklyDiv {
    width: 100vw;
    height: 50vh;
}

section.ui.raised.segment.script_section {
    width: auto;
    height: 100%;
    padding: 0 !important;

}

section.script_section #textarea {
    background: #eee;
    width: 100vw;
    height: 30vh;
}

/*----------------------- 태블릿용 CSS ----------------------*/
@media all and (min-width: 768px) {
    /* 기본 CSS */
    div.block {
        margin-top: 60px;
        margin-bottom: 60px;

        display: flex;
        flex-flow: row nowrap;
        /*border: 1px solid #000;*/
        width: 100%;
        height: 100%;
    }

    section.ui.raised.segment.block_section {
        width: auto;
        height: 100%;
        padding: 14px !important;
        /*margin: 5px !important;*/
    }

    section.block_section #blocklyDiv {
        /*position: relative;*/
        width: 40vw;
        height: 100vh;
        /*width: 100%;*/
        /*height: 100%;*/
    }

    section.script_section {
        /*margin: 10px;*/
        /*border: 1px solid #000;*/
        width: auto;

        height: 100%;

    }

    section.script_section #textarea {
        width: 40vw;
        height: 90vh;
    }
}

/*----------------------- PC용 CSS ----------------------*/
@media all and (min-width: 960px) {
    /* 기본 CSS */
    section.block_section #blocklyDiv {
        /*position: relative;*/
        width: 35vw;
        height: 100vh;
        /*width: 100%;*/
        /*height: 100%;*/
    }

    section.script_section #textarea {
        width: 35vw;
        height: 90vh;
    }
}
