.block {
    margin-top: 60px;
    /*margin-bottom: 60px;*/

    display: flex;
    flex-flow: column nowrap;
    width: 100% !important;
    height: 100% !important;
}

.ui.raised.segment.block_section {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    /*margin: 5px !important;*/
}

.block_section #blocklyDiv {
    width: 100%;
    height: 50vh;
}

.ui.raised.segment.script_section {
    width: 100%;
    height: 100%;
    padding: 0 !important;

}

.script_section #textarea {
    background: #eee;
    width: 100%;
    height: 30vh;
}

.script_section.ui.segment .upload {
    margin: 10px;
}

/*----------------------- 태블릿용 CSS ----------------------*/
@media all and (min-width: 768px) {
    /* 기본 CSS */
    .ui.raised.segment.block_section {
        width: 100%;
        height: 100%;
        padding: 0 !important;
        /*margin: 5px !important;*/
    }

    .block_section #blocklyDiv {
        width: 100%;
        height: 50vh;
    }

    .ui.raised.segment.script_section {
        width: 100%;
        height: 100%;
        padding: 0 !important;

    }

    .script_section #textarea {
        background: #eee;
        width: 100%;
        height: 30vh;
    }
}

/*----------------------- PC용 CSS ----------------------*/
@media all and (min-width: 960px) {
    /* 기본 CSS */
    .block {
        flex-flow: row nowrap;
    }

    .ui.raised.segment.block_section {
        width: 50%;
        height: 100%;
        padding: 14px !important;
        /*margin: 5px !important;*/
    }

    .block_section #blocklyDiv {
        /*position: relative;*/
        width: 100%;
        height: 80vh;
        /*width: 100%;*/
        /*height: 100%;*/
    }

    .two .ui.raised.segment.script_section {
        margin: 0 !important;
        /*border: 1px solid #000;*/
        /*width: 30%;*/
        height: 100%;
        padding: 14px !important;

    }

    .script_section #textarea {
        width: 100%;
        height: 25vh;
    }

    .two {
        margin: 0 !important;
        width: 30%;
        display: flex;
        flex-flow: column nowrap;

    }
}

