/* 기본 CSS */
.control_all_top_margin {
    /*margin-top: 35px;*/
    margin-top: 50px;
}

.control_all_bottom_margin {
    /*margin-bottom: 35px;*/
    margin-bottom: 50px;
}

.control_all_app_section.ui.segment {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.control_all_app_section.ui.segment {
    display: none;
}

.control_all_log_section.ui.segment {
    display: none;
}

.control_all_node_section.ui.segment {
    display: none;
    /*display: block;*/
}

.control_all_app_section.ui.segment .app_section.ui.items .app_title.item {
    display: none !important;
}

.control_all_log_section.ui.segment .log_section.ui.items .log_title.item {
    display: none !important;
}

.control_all_node_section.ui.segment .node_section.ui.items .node_title.item {
    display: none !important;
}

.control_all_node_section.ui.segment .node_section.ui.items .ui.raised.segment {
    margin: 0 !important;
}

/*log*/
.control_all_log_section.ui.segment .log_section.ui.items .mobile_log {
    display: block;
}
.control_all_log_section.ui.segment .log_section.ui.items .mobile_log.content.ui.segment .meta{
    margin-bottom: 30px !important;
}

.control_all_log_section.ui.segment .log_section.ui.items .pc_log {
    display: none;
}

/*node*/
#node {
    align-self: center;
    width: 100%;
    height: 500px;
}

/*----------------------- 태블릿용 CSS ----------------------*/
@media all and (min-width: 768px) {
    /* 기본 CSS */

}

/*----------------------- PC용 CSS ----------------------*/
@media all and (min-width: 960px) {
    /* 기본 CSS */
    .control_all_top_margin {
        margin-top: 50px;
    }

    .control_all_bottom_margin {
        margin-bottom: 0px !important;
    }

    .control_all_app_section.ui.segment .app_section.ui.items .app_title.item {
        display: block !important;
    }

    .control_all_log_section.ui.segment .log_section.ui.items .log_title.item {
        display: block !important;
    }

    .control_all_node_section.ui.segment .node_section.ui.items .node_title.item {
        display: block !important;
    }

    .control_all_app_section.ui.segment {
        max-width: 1200px !important;
        width: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .control_all_log_section.ui.segment {
        max-width: 1200px !important;
        width: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .control_all_node_section.ui.segment {
        max-width: 1200px !important;
        width: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .control_all_node_section.ui.segment .node_section.ui.items .ui.raised.segment {
        width: 500px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /*log*/
    .control_all_log_section.ui.segment .log_section.ui.items .mobile_log {
        display: none;
    }

    .control_all_log_section.ui.segment .log_section.ui.items .pc_log {
        display: block;
    }
    .control_all_log_section.ui.segment .log_section.ui.items .pc_log h1{
    }

    /*node*/
    #node {
        align-self: center;
        width: 500px;
        height: 500px;
    }
}