@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/*----------------------- 모바일용 CSS ----------------------*/
/* 기본 CSS */

#wrap {
    /*border: solid 1px #000;*/
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

#wrap section {
    /*border: solid 1px #000;*/
}

/* header 영역 CSS */

.header_section {
    order: 1;
    background: #2ecc71;
    height: 50px;
    height: 3.125rem;
    width: 100%;
    /*            border-bottom: 1px solid #39d67c;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    position: fixed;
    /*bottom: 0;*/
}

.info_section {
    display: flex;
}

.info_list {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 20;
    display: none;
}

.pc.fluid.primary.button {
    display: none;
}

.info_toggle_btn {
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    align-self: center;
    margin-left: 10px;
    margin-left: 0.625rem;
    text-indent: -9999px;
    background: url(../images/s_images/menu_toggle_btn.png) no-repeat;
    cursor: pointer;
}

.logo_section {
    align-self: center;
    color: white;
    text-shadow: 0px 1px 1px #000;
}

.logo_section a img {
}

.logo_section h1 {
}

.config_section {
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    align-self: center;
    margin-right: 10px;
    margin-right: 0.625rem;
}

/*raspi_section  */
.raspi_section {
    order: 2;
    background: #aabbcc;
    text-align: center;
    width: 100%;
    margin-top: 50px;

    /*            position: fixed;*/
    /*            top: 50px;*/
    /*            left: 0px;*/
}

/*node_section*/
#node {
    order: 3;
    align-self: center;
    /*          position: relative;*/
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-color: #fff;
}

/*card_section*/
.card_section {
    order: 3;
    background: #fff;
    width: 100%;
    margin-bottom: 50px;

}

.card_section ul {
}

.card_section ul li {
    background: #ee3344;
    /*            height: 100px;*/
    /*            color: aliceblue;*/
    /*            color: aqua;*/
    padding: 10px;
    padding: 0.625rem;
    margin: 10px;
    margin: 0.625rem;
}

.card_section ul li .card_detail {
    display: flex;
    flex-flow: column nowrap;
    /*            height: 50px;*/
    background: #ee3344;
    /*            border: 1px solid #000;*/
    height: 100px;
    /*                        padding: 10px;*/
}

.card_detail .top {
    order: 1;
    height: 30px;
    /*            border: 1px solid #000;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.top .card_name {
    order: 1;
    /*            border: 1px solid #000;*/
    /*            margin: 10px;*/
}

.top .card_onoff {
    order: 2;
    /*            margin: 10px;*/
    /*            border: 1px solid #000;*/
}

.card_detail .content {
    order: 2;
    height: 80%;
    /*            border: 1px solid #000;*/
    display: flex;
    flex-flow: column nowrap;
}

.content .content_top {
    order: 1;
    /*            margin: 10px;*/
    /*            border: 1px solid #000;*/
}

.content_top .content_name {
    order: 1;
    /*            margin: 10px;*/
    /*            border: 1px solid #000;*/
}

.content .content_detail {
    order: 2;
    /*            border: 1px solid #000;*/
    display: none;
    margin: 10px;
}

.card_detail .footer {
    order: 3;
    /*            height: 10%;*/
    /*            margin: 10px;*/
    /*            height: 20%*/
    align-self: flex-end;
    /*            border: 1px solid #000;*/
}

/*footer_section*/
.footer_section {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background: #2ecc71;
    text-align: center;
    /*            border: 1px solid #000;*/
}

.footer_section .ui.three {
    background: #2ecc71;

}

.ui.three .item {
    color: white !important;
    /*text-shadow: 0px 1px 1px #000;*/
}

.ui.three .item:hover {
    color: white !important;
}

.ui.three .item.active {
    color: white !important;
}
/*text-shadow: 0px 1px 1px #000;*/

/*----------------------- 태블릿용 CSS ----------------------*/

@media all and (min-width: 768px) {
    /* 기본 CSS */
    #wrap {
        width: 80%;
        position: relative;
    }

    /*header section            */
    .header_section {
        display: flex;
        /*                flex-flow: column nowrap;*/
        height: 150px;
        width: 100%;
    }

    .info_section {
        position: absolute;
        top: 10px;
        top: 0.625rem;
        right: 10px;
        right: 0.625rem;
    }

    .info_list {
        display: flex !important;
        flex-flow: row nowrap;
        position: static;
    }

    .info_list li {
        /*border: solid 1px #000;*/
        /*                display: block;*/
        margin-left: 15px;
        margin-left: 0.625rem;
    }

    .info_toggle_btn {
        display: none;
    }

    .pc.fluid.primary.button {
        display: flex;
    }

    .mobile {
        display: none;
    }

    .logo_section {
        order: 2;
        margin-left: 15px;
        margin-left: 0.625rem;
    }

    .config_section {
        display: none;
        order: 3;
    }

}

/*----------------------- PC용 CSS ----------------------*/

@media all and (min-width: 960px) {
    /* 기본 CSS */
    #wrap {
        position: relative;
        width: 90%;
    }
}