.index_top_margin {
    /*margin-top: 35px;*/
    margin-top: 50px;
}

section.main_section {

}

section .ui.vertical.segment {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
    max-width:1200px;
}

section .ui.segment .main_img {
    width: 100%;
    /*border: 1px solid #000;*/
}